.phosphorr {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.p-BoxPanel {
  flex: 1 1 auto;
}

.p-DockPanel {
  padding: 4px;
}

.grid-stack-item-content {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    overflow-y: hidden !important;
}

.chart-title {
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px 4px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* https://stackoverflow.com/questions/5697067/css-for-grabbing-cursors-drag-drop */
.chart-title:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.chart-stage {
    overflow: auto;
    padding: 5px 10px;
    position: relative;
    height: 100%;
}

.chart-shim {
    position: absolute;
    left: 8px;
    top: 8px;
    right: 8px;
    bottom: 8px;
}

.chart-title > .action-icons {
  position: absolute;
  right: 5px;
  top: 4px;
}

.chart-title > .action-icons > .fa {
  padding-right: 0.5em;
  opacity: 90;
  cursor: pointer;
  transition: opacity 300ms ease 50ms,background-color 300ms ease 50ms;
}
