/* **** */
/* MAIN */
/* **** */

.luminophor {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.lm-BoxPanel {
  flex: 1 1 auto;
}

.lm-DockPanel {
  padding: 4px;
}

/* ******* */
/* CONTENT */
/* ******* */

.content {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #C0C0C0;
  border-top: none;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


.content > div {
  flex: 1 1 auto;
  border: 1px solid #505050;
  overflow: auto;
}


.content  input {
  margin: 8px;
}


.red > div {
  background: #E74C3C;
}


.yellow > div {
  background: #F1C40F;
}


.green > div {
  background: #27AE60;
}


.blue > div {
  background: #3498DB;
}

/* ********* */
/* DOCKPANEL */
/* ********* */

.lm-DockPanel-overlay {
  background: rgba(255, 255, 255, 0.6);
  border: 1px dashed black;
  transition-property: top, left, right, bottom;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

/* .lm-DockPanel-widget { */
/*  padding-top: 12px; */
/* } */

/* .lm-DockPanel-handle {
  transform: translateY(6px);
} */


/* ****** */
/* TABBAR */
/* ****** */

.lm-TabBar {
  min-height: 30px;
  max-height: 30px;
}

.lm-TabBar-content {
  min-width: 0;
  min-height: 0;
  align-items: flex-end;
  border-bottom: 1px solid #d7d7d7;
}

.lm-TabBar-tab {
  padding: 0px 10px;
  background: #E5E5E5;
  border: 1px solid #C0C0C0;
  border-top: 3px solid transparent;
  border-bottom: none;
  font: 12px Helvetica, Arial, sans-serif;
  flex: 0 1 125px;
  min-height: 26px;
  max-height: 26px;
  min-width: 35px;
  margin-left: -1px;
  line-height: 26px;
}

.lm-TabBar-tab.lm-mod-current {
  background: white;
  border-top: 3px solid rgba(39, 128, 277, 0.7);
}

.lm-TabBar-tab:hover:not(.lm-mod-current) {
  background: #F0F0F0;
}


.lm-TabBar-tab:first-child {
  margin-left: 0;
}


.lm-TabBar-tab.lm-mod-current {
  min-height: 29px;
  max-height: 29px;
  transform: translateY(1px);
}


.lm-TabBar-tabIcon,
.lm-TabBar-tabLabel,
.lm-TabBar-tabCloseIcon {
  display: inline-block;
}


.lm-TabBar-tab.lm-mod-closable > .lm-TabBar-tabCloseIcon {
  margin-left: 4px;
}


.lm-TabBar-tab.lm-mod-closable > .lm-TabBar-tabCloseIcon:before {
  content: '\f00d';
  font-family: FontAwesome;
}


.lm-TabBar-tab.lm-mod-drag-image {
  min-height: 29px;
  max-height: 29px;
  min-width: 125px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateX(-40%) translateY(-58%);
}
